body {
    background-image: url('../images/background-image.png');
    display: flex;
    justify-content: center;
}

#container {
    border-radius: 10px;
    width: 800px;
}

#backBttn, .button-panel, #multiplier, #nextBttn, .end-buttons {
    display: none;
}

header h2 {
    padding-left: 10px;
}

header {
    margin-top: -10px;
}

.end-list {
    list-style-type: none;
    text-align: start;
}

.list-item {
    margin-bottom: 30px;
    line-height: 0%;
}

.end-container {
    overflow-y: scroll;
    height: 6.5cm;
}